{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Success</title>
    <link rel="stylesheet" href="{% static 'css/appointment_success.css' %}"> 
</head>
<body>

    <div class="success-box">
        <h2>Appointment has been registered</h2>
        <p>please check the appointment status :</p>
        <a href="{% url 'status_verify' %}" class="btn-home"> APPOINTMENT STATUS CHECK</a>
    </div>

</body>
</html>
