{% load static %}
<h2>Book Appointment</h2>

<link rel="stylesheet" href="{% static 'css/book_appointment.css' %}">

{% if message %}
  <p style="color:green;">{{ message }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <label for="doctor">Doctor Name:</label>
    <select name="doctor" required>
        {% for doctor in doctors %}
            <option value="{{ doctor.id }}">{{ doctor.name }} ({{ doctor.specialty }})</option>
        {% empty %}
            <option disabled>No doctors found</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="time">Appointment Time:</label>
    <input type="time" name="time" required><br><br>
    <label for="date">Date:</label>
    <input type="date" name="date" required><br><br>

    <button type="submit">Book Appointment</button>
</form>
